::-webkit-scrollbar {
    width: 6px;
    background: #e4e4e4;
}

::-webkit-scrollbar-thumb {
    background: #000;
}

.main-content-settings {
    height: auto;
    width: 50vw;
    padding: 8vh 2vw;
    box-sizing: border-box;
    background: white;
}

.sidebar-settings {
    margin-left: 15vw;
    background: rgb(250, 250, 250);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.sidebar-settings-container {
    width: auto;
    padding-top: 7vh;
    box-sizing: border-box;
    padding-right: .8vw;
    padding-left: .8vw;
}

.sidebar-settings-title {
    text-transform: uppercase;
    font-weight: 550;
}

.sidebar-settings-item {
    padding: .2vw .6vw;
    margin-top: .3vh;
    cursor: pointer;
    text-overflow: ellipsis;
    font-size: 1rem;
    padding-left: .2vw;
    box-sizing: border-box;
    border-radius: 6px;
    overflow: hidden;
    white-space: nowrap;
}

.sidebar-settings-item:hover {
    text-shadow: 0 0 .65px #333, 0 0 .65px #333;
    background: rgb(235, 235, 235);
}

.sidebar-settings-socialmedia {
    font-size: 1.3rem;
    cursor: pointer;
}

.sidebar-app-information {
    font-size: .75rem;
}

.sidebar-settings-spacer {
    width: 60%;
    height: 1px;
    background: grey;
    margin: 2vh 0vh;
}

.escape-button-settings {
    margin: 7vh 1vw;
    margin-right: 15vw;
    display: flex;
    flex-direction: column;
    font-weight: 500;
    text-transform: uppercase;
}

.escape-button-settings>.escape-button-settings-circle {
    width: 1.5vw;
    height: 1.5vw;
    border-radius: 50%;
    border: 2px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all ease-in 400ms;
}

.escape-button-settings>.escape-button-settings-circle:hover {
    background: rgb(247, 247, 247);
    font-size: 1.4rem;
}

.top-bar-logo-settings {
    width: 2.4vw;
    height: 2.4vw;
    background-image: url("/static/profile/img/logo_topbar.png");
    background-size: cover;
    background-position: center;
    margin-right: 1vw;
    border-radius: 8px;
    transform: translateX(-20%);
    margin-bottom: 1.5vw;
}

.main-content-settings-title {
    width: 100%;
    font-size: 1.3rem;
    font-weight: 520;
    margin-bottom: 2vh;
}

.section-container-settings>div:not(:first-child) {
    display: none;
}

.section-mein-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.profile-container-settings {
    width: 100%;
    background: rgb(245, 245, 245);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1vw;
}

.profile-container-top-banner-settings {
    width: 100%;
    height: 25vh;
    border-radius: 10px 10px 0px 0px;
    background-image: url("https://wallpaperaccess.com/full/14259.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    position: relative;
}

.profile-container-top-banner-settings-image {
    width: 7vw;
    height: 7vw;
    border-radius: 50%;
    background-image: url("https://www.alucoildesign.com/assets/pages/media/profile/profile_user.jpg");
    background-size: cover;
    background-position: center;
    border: 3px solid rgb(245, 245, 245);
    transform: translate(-20%, -50%);

    
}

.profile-is-hovering > div  {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    transition: all 0.3s ease, border-radius 1ms;

    font-size: 2.1rem;
    color: white;
}


.change-person-setting-section>p:nth-child(2) {
    font-size: .9rem;
}

.profile-container-top-banner-infos-settings {
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.banner-hovering-class {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    transition: all 0.3s ease;
    position: absolute;
    border-radius: 10px 10px 0px 0px;

    color: white;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.8rem;

    display: flex;
    justify-content: center;
    align-items: center;

}

.profile-container-settings-info {
    height: 100%;
    width: calc(100% - 9.8vw);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.username-settings-icon {
    margin-left: 1vw;
    font-size: 1.4rem;
}

.profile-container-settings-info>p {
    font-weight: 500;
    font-size: 1.2rem;
}

.profile-container-settings-info-edit {
    margin-left: auto;
    margin-right: 1vw;
    background: #000;
    padding: .3vw .5vw;
    font-size: .90rem;
    color: white;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
}

.profile-settings-information-container {
    width: 92%;
    background: rgb(230, 230, 230);
    border-radius: 10px;
    margin-top: 5vh;
    padding: .4vw;
}

.profile-info-item-settings {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1vh;
    margin-bottom: .6vh;
}

.profile-info-item-settings>div:nth-child(1) {
    height: 100%;
    margin-left: .5vw;
}

.profile-info-item-settings>div:nth-child(1)>p:nth-child(1) {
    text-transform: uppercase;
    font-weight: 500;
    font-size: .9rem;
    color: #000;
}

.profile-info-item-settings>div:nth-child(1)>p:nth-child(2) {
    font-size: .95rem;
}

.main-content-settings-over {
    display: flex;
    overflow-y: auto;
    background: white;
    padding-bottom: 8vh !important;
    flex-grow: 1;
}

.profile-info-item-settings>div:nth-child(2) {
    margin-left: auto;
    margin-right: 1vw;
    background: #000;
    padding: .35vw .6vw;
    font-size: .85rem;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.section-settings-spacer {
    width: 100%;
    height: 1px;
    background: #000;
    margin: 5vh 0vh;
}

.profile-settings-button {
    background: #000;
    padding: .35vw .6vw;
    font-size: .95rem;
    font-weight: 500;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    width: fit-content;
    margin: 2vh 0vh;
}

.active-settings-item {
    background: #000 !important;
    color: white;
    font-weight: 500;
}

.two-factor-container {
    width: 85%;
}

.two-factor-title {
    text-transform: uppercase;
    font-weight: 600;
    font-size: .95rem;
}

.two-factor-container>p:nth-child(2) {
    font-size: .9rem;
}

.delete-or-deactive-container>div {
    display: flex;
    width: 100%;
    flex-direction: row;
}

.delete-or-deactive-container>div>div:nth-child(2) {
    margin-left: 1vw;
    border: 2px solid #000;
    background: transparent;
    color: #000;
}

.subscription-banner-settings {
    height: 45vh;
    background: #292b2f;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2vh;
    background-image: url("https://images.unsplash.com/photo-1472566316349-bce77aa2a778?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80");
    background-size: cover;
    background-position: center;
    color: white;
}

.subscription-banner-title {
    font-size: 2.5rem;
    text-shadow: white 0px 0px 5px;
    text-transform: uppercase;
    font-weight: 600;
    padding: .5vw 1.2vw;
    margin-top: 8vh;
    border-radius: 10px;
}

.subscription-banner-settings>p:nth-of-type(1) {
    font-size: 1.6rem;
}

.subscription-banner-settings>p:nth-of-type(2) {
    font-weight: 500;
    width: 70%;
    text-align: center;
}

.section-my-subscriptions {
    padding-bottom: 8vh;
}

.subscription-settings-features-title {
    font-size: 1.4rem;
    margin: 2vh 0vh;
    margin-top: 5vh;
    font-weight: 500;
}

.subscription-item-feature-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.subscription-item-feature {
    padding: 2vw 2vw;
    box-sizing: border-box;
    margin: .4vw;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 48%;
    background: #f9f9fb;
}

.subscription-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .4vw 1.2vw;
    background: white;
    color: black;
    margin: 2vw;
    border-radius: 5px;
}

.monthly-subscriptions-button {
    color: white;
    background: #000;
    font-size: 1.1rem;
    padding: .4vw .6vw;
    border-radius: 6px;
    align-self: flex-start;
    margin-bottom: 3vh;
}

.subscription-feature-item-element {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    margin-bottom: 2vh !important;
}

.subscription-feature-item-element>p:nth-child(1) {
    font-weight: 500;
    font-size: .95rem;
}

.subscription-feature-item-element>div:nth-child(2) {
    background: #000;
    border: 2px solid #000;
    width: 1vw;
    height: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-left: auto;
    color: white;
    box-sizing: border-box;
    font-size: 1.2rem;
}

.unticked {
    background: transparent !important;
    border: 2px solid #000 !important;
    color: #000 !important;
}

.subscription-packages-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1vw;
    box-sizing: border-box;
    background: white;
    border-radius: 10px;
    margin-bottom: 2vh;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 5px 29px 0px;
}

.selected-package {
    background: black;
}

.subscription-package-check {
    min-width: 1vw;
    width: 1vw !important;
    height: 1vw;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    font-size: 1.3rem;
    border: 2px solid #97979749;
    cursor: pointer;
}

.selected-package>.subscription-package-check {
    border: 2px solid white;
    background: black;
}

.selected-package>.subscription-package-check>.package-checked {
    width: 70%;
    height: 70%;
    background: white;
    border-radius: 50%;
}

.subscription-package-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1vw;
}

.subscription-package-info>p:nth-child(1) {
    font-weight: 500;
    font-size: 1.3rem;
}

.selected-package>.subscription-package-info>p:nth-child(1) {
    color: white;
}

.subscription-package-monthly-deal {
    background: #ffeef1;
    align-self: flex-start;
    padding: .1vw .3vw !important;
    font-size: .9rem;
    color: #d7a99c;
    font-weight: 500;
    border-radius: 7px;
}

.subscription-packages-item>p:nth-child(3) {
    margin-left: auto !important;
    font-size: 2.2rem;
    font-weight: 600;
    justify-self: center;
}

.selected-package>p:nth-child(3) {
    color: white;
}

.subscription-packages-item>p:nth-child(3)>span {
    font-size: 1rem;
    font-weight: 400;
}

.choose-plan-button {
    font-weight: 500;
    font-size: 1rem;
    color: white;
    background: #000;
    border-radius: 10px;
    align-self: center;
    justify-self: flex-end;
    padding: .6vw 1vw;
    margin-left: auto;
    margin-top: 2vh;
    cursor: pointer;
}

.frquently-asked-questions-container {
    display: flex;
    flex-direction: column;
}

.frequently-asked-question-item {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #dadada49;
    padding-bottom: 2vh;
    margin-bottom: 2vh;
}

.frequently-asked-question-item>p {
    width: calc(100% - 3vw);
    align-self: flex-end;
    font-size: .93rem;
    display: none;
}

.frequently-asked-top-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.frequently-asked-top-container>p {
    font-weight: 500;
    font-size: 1.0rem;
    margin-left: 1vw !important;
}

.question-open {
    background: #000 !important;
    color: white !important;
    border-color: transparent !important;
}

.questions-mark-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5vw;
    height: 1.5vw;
    border-radius: 50%;
    background: #f9f9fb;
    border: 2px solid #000;
    color: #000;
    font-size: 1.1rem;
    box-sizing: border-box;
    cursor: pointer;
}

.my-language-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #f4f5f6;
    border-radius: 5px;
    padding: .5vw .8vw;
    margin-bottom: 1vh;
    cursor: pointer;
}

.my-language-item:hover {
    background: #e3e5e8;
}

.select-language-button {
    width: .9vw;
    height: .9vw;
    border-radius: 50%;
    border: 2px solid #545b65;
    display: flex;
    justify-content: center;
    align-items: center;
}

.language-selected {
    background: #e3e5e8;
}

.language-selected>.select-language-button>div {
    width: .6vw;
    height: .6vw;
    border-radius: 50%;
    background: #545b65;
}

.my-language-item>p:nth-child(2) {
    margin-left: .6vw !important;
    font-weight: 500;
}

.my-language-item>p:nth-child(3) {
    margin-left: auto !important;
    font-size: .95rem;
}

.flag-image {
    width: 2vw;
    height: 1.5vw;
    background-position: center;
    background-size: cover;
    border-radius: 8px;
    margin-left: 1vw;
}

.container-add-payment-method {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.add-payment-info {
    display: flex;
    flex-direction: column;
}

.add-payment-info>p:nth-child(1) {
    font-size: .85rem;
    font-weight: 500;
}

.add-payment-info>p:nth-child(2) {
    font-size: .8rem;
}

.add-payment-button {
    margin-left: auto;
    border-radius: 5px;
    padding: .6vw .9vw;
    background: #000;
    color: white;
    font-weight: 500;
    font-size: .9rem;
    cursor: pointer;
}

.transaction-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.transaction-container-header {
    background: #f9f9fb;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0vw 2vw;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.transaction-container-header>div>p {
    font-weight: 500;
    padding: .7vw 0vw !important;
}

.transaction-container-header>div:nth-child(1) {
    width: 30%;
}

.transaction-container-header>div:nth-child(2) {
    width: 50%;
}

.transaction-container-header>div:nth-child(3) {
    width: 20%;
}

.transaction-container-body {
    border-top: 5px solid white;
    background: #f9f9fb;
}

.transaction-container-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0vw 2vw;
    cursor: pointer;
}

.transaction-container-item:not(:first-child) {
    border-top: 2px solid #dadada49;
}

.transaction-container-item:hover {
    background: #e3e5e8;
}

.transaction-container-item>div:nth-child(1) {
    width: 30%;
}

.transaction-container-item>div:nth-child(2) {
    width: 50%;
    display: flex;
    align-items: center;
}

.transaction-container-item>div:nth-child(2)>p {
    padding: 0 .5vw !important;
}

.transaction-container-item>div:nth-child(3) {
    width: 20%;
}

.transaction-container-item>div>p {
    padding: .7vw 0vw !important;
}

.transaction-container-bottom {
    border-top: 5px solid white;
    background: #f9f9fb;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: .8vw 2vw;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.transaction-container-bottom>div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5vw 0vw;
    border: 2px solid #dadada49;
}

.transaction-container-bottom>div>div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0vw .8vw;
}

.transaction-container-bottom>div>div:nth-of-type(odd):hover {
    cursor: pointer;
}

.transaction-container-bottom>div>div:nth-child(2) {
    border-left: 2px solid #dadada49;
    border-right: 2px solid #dadada49;
    font-size: .95rem;
}

.appearance-section-subtitle {
    text-transform: uppercase;
    font-size: .95rem;
    font-weight: 600;
    margin-bottom: 2vh !important;
}

.appearance-section-theme-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #f4f5f6;
    border-radius: 5px;
    padding: .5vw .8vw;
    margin-bottom: 1vh;
    cursor: pointer;
}

.appearance-section-theme-item:hover {
    background: #e3e5e8;
}

.appearance-section-select {
    width: .9vw;
    height: .9vw;
    border-radius: 50%;
    border: 2px solid #545b65;
    display: flex;
    justify-content: center;
    align-items: center;
}

.appearance-section-theme-item > p {
    font-weight: 500;
    margin-left: .5vw !important;
}

.theme-selected > .appearance-section-select > div {
    width: .6vw;
    height: .6vw;

    border-radius: 50%;
    background: #545b65;
}

.theme-selected {
    background: #e3e5e8 !important;

}