<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Middleman - Profile</title>


    <!--Icons-->
    <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/profile/css/styles.css') }}" />

    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src={{ url_for('static', filename="profile/js/script.js" ) }} type="text/javascript" defer></script>


    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;800&display=swap" rel="stylesheet">

    <link rel="icon" type="image/png" href="/static/profile/img/favicon.png" sizes="64x64">

    <!--Mapbox-->

    <script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' />
    <script src={{ url_for('static', filename="profile/js/maps.js" ) }} type="text/javascript" defer></script>

    <script src={{ url_for('static', filename="auth/AuthenticationService.js" ) }} type="text/javascript"></script>
    <script src={{ url_for('static', filename="profile/js/loadSettings.js" ) }} defer type="text/javascript"></script>


    <link rel="stylesheet" type="text/css" href="/static/profile_settings/css/styles.css" />
    <script src={{ url_for('static', filename="profile_settings/js/script.js" ) }} type="text/javascript" defer></script>



    <script>




        if ("{{ newLogIn }}") {
            setAccessToken("{{ access }}");
            setRefreshToken("{{ refresh }}");

            sendRequestToServer({ type: "GET", url: "/authentication/get-token " }).then(data => {
                console.log(data);
            });
        }

    </script>

</head>

<body>

    <div class="profile-settings-tab"></div>


    <div class="scroll-button">
        <p>Top</p>
    </div>




    <div class="top-bar">

        <div class="top-bar-logo">

        </div>

        <div class="top-bar-item">
            <p>Posts</p>
        </div>
        <div class="top-bar-item">
            <p>Events</p>
        </div>
        <div class="top-bar-item">
            <p>Settings</p>
        </div>
        <div class="top-bar-item">
            <p>Resources</p>
        </div>
        <div class="top-bar-item">
            <p>People</p>
        </div>

        <div id="top-bar-right-section">
            <ion-icon name="search-outline" class="top-bar-icon"></ion-icon>
            <ion-icon name="people-outline" class="top-bar-icon">

            </ion-icon>

            <div class="top-bar-notification">
                <ion-icon name="notifications-outline" class="top-bar-icon"></ion-icon>
                <div class="notification-top-bar-new"></div>
            </div>

            <div class="become-middleman-button">
                <p>Werde Middleman</p>
            </div>

            <div id="container-around-top-bar">
                <div id="top-bar-profile-picture">
                    <div class="profile-info-popup">
                        
                        <div class="profile-info-popup-item" id="profile-settings-edit">
                            <p>Profile Settings</p>
                        </div>
    
                        
                        
                        <div class="profile-info-vert-aligner"></div>
    
                        <div class="profile-info-popup-item">
                            <ion-icon name="person-circle-outline" class="profile-info-icon"></ion-icon>
                            <p>Explore creators</p>
                        </div>
                        <div class="profile-info-popup-item">
                            <ion-icon name="heart-outline" class="profile-info-icon"></ion-icon>
                            <p>Manage membership</p>
                        </div>
                        <div class="profile-info-popup-item">
                            <ion-icon name="compass-outline" class="profile-info-icon"></ion-icon>
                            <p>Invite creators</p>
                        </div>
    
                        <div class="profile-info-vert-aligner"></div>
    
                        <div class="profile-info-popup-item">
                            <p>Log out</p>
                        </div>
    
                    </div>
                </div>
                <ion-icon name="chevron-down-outline" class="top-bar-icon" id="expand-profile-info"></ion-icon>

            </div>
           


        </div>

    </div>

    <div class="main-content">
        <div class="main-content-left-side">
            <div class="main-container-profile-banner">
                <div class="banner-container">
                   
                    <div class="profile-image-banner-section">
                    </div>
                </div>
                <div class="basic-information-container">
                    <div class="basic-info-right-side">
                        <div class="basic-info-top-container">
                            <div class="basic-info-top-left">
                                <p>Assaf Rappaport</p>
                                <p>Certified Middleman</p>
                            </div>
                            
                        </div>
                        <div class="basic-info-bottom-container">
                            <div class="basic-info-item-link">
                                <ion-icon name="logo-twitter"></ion-icon>
                            </div>
                            <div class="basic-info-item-link">
                                <ion-icon name="logo-facebook"></ion-icon>
                            </div>
                            <div class="basic-info-item-link">
                                <ion-icon name="logo-instagram"></ion-icon>
                            </div>
                            <div class="basic-info-item-link">
                                <ion-icon name="logo-tiktok"></ion-icon>
                            </div>
                            <div class="basic-info-item-link">
                                <ion-icon name="logo-discord"></ion-icon>
                            </div>
                            <div class="basic-info-item-link">
                                <ion-icon name="bookmark-outline"></ion-icon>
                            </div>


                        </div>
                    </div>
                </div>
            </div>


            <div class="section-group-sections">
                <div class="section-group-item active">
                    <p>Summary</p>
                </div>

                <div class="section-group-item ">
                    <p>Product Categories</p>
                </div>

                <div class="section-group-item ">
                    <p>Reviews</p>
                </div>


            </div>

            <div class="section-about-me">
                <div class="top-section-about-me">
                    <p>Summary</p>
                    
                </div>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi magnam culpa fuga doloribus inventore
                    deserunt maxime et laboriosam sequi iusto dicta delectus eligendi accusantium, aperiam tempora
                    ratione quisquam asperiores placeat?</p>
            </div>

            <div class="section-about-me">
                <div class="top-section-about-me">
                    <p>Product Categories</p>
                    <div class="edit-button-about-me" style="background: white;">
                        <ion-icon name="ellipsis-vertical-outline" style="font-size: 1.4rem; color: black"></ion-icon>
                    </div>
                </div>



                <div class="product-group-item-container">

                    <div class="product-group-item">
                        <div class="product-group-banner">
                            <ion-icon name="american-football"></ion-icon>
                        </div>
                        <div class="product-group-details-container">
                            <p>Sporting Goods</p>
                            <p>300 Trades</p>
                        </div>
                    </div>

                    <div class="product-group-item">
                        <div class="product-group-banner">
                            <ion-icon name="camera"></ion-icon>
                        </div>
                        <div class="product-group-details-container">
                            <p>Sporting Goods</p>
                            <p>300 Trades</p>
                        </div>
                    </div>
                    <div class="product-group-item">
                        <div class="product-group-banner">
                            <ion-icon name="beer"></ion-icon>
                        </div>
                        <div class="product-group-details-container">
                            <p>Sporting Goods</p>
                            <p>300 Trades</p>
                        </div>
                    </div>

                    <div class="product-group-item">
                        <div class="product-group-banner">
                            <ion-icon name="basket"></ion-icon>
                        </div>
                        <div class="product-group-details-container">
                            <p>Sporting Goods</p>
                            <p>300 Trades</p>
                        </div>
                    </div>

                    <div class="product-group-item">
                        <div class="product-group-banner">
                            <ion-icon name="bandage"></ion-icon>
                        </div>
                        <div class="product-group-details-container">
                            <p>Sporting Goods</p>
                            <p>300 Trades</p>
                        </div>
                    </div>
                </div>


            </div>


            <div class="section-about-me" id="reviews-section">
                <div class="top-section-about-me">
                    <p>Reviews</p>
                    <div class="edit-button-about-me" style="background: white;">
                        <ion-icon name="ellipsis-vertical-outline" style="font-size: 1.4rem; color: black"></ion-icon>
                    </div>
                </div>


                <div class="review-item">

                    <div class="splitter-review-item">
                        <div>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                        </div>
                        <p class="review-title">Very nice middleman, faster than expected!</p>
                    </div>


                    <div class="review-item-reviewer-container">
                        <div class="reviewer-profile-picture"></div>
                        <p>Radhika Dutt</p>
                        <p>3 months ago</p>
                    </div>
                    <div class="review-text">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, eius numquam rem omnis in
                            voluptas iste repellendus blanditiis? At quaerat eius accusamus alias obcaecati aut dolores
                            nemo nostrum reprehenderit similique!</p>
                    </div>

                    <p class="answer-review">
                        Answer this review
                    </p>
                </div>

                <div class="review-item">

                    <div class="splitter-review-item">
                        <div>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                        </div>
                        <p class="review-title">Very nice middleman, faster than expected!</p>
                    </div>


                    <div class="review-item-reviewer-container">
                        <div class="reviewer-profile-picture"></div>
                        <p>Radhika Dutt</p>
                        <p>3 months ago</p>
                    </div>
                    <div class="review-text">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, eius numquam rem omnis in
                            voluptas iste repellendus blanditiis? At quaerat eius accusamus alias obcaecati aut dolores
                            nemo nostrum reprehenderit similique!</p>
                    </div>

                    <p class="answer-review">
                        Answer this review
                    </p>
                </div>
            </div>

        </div>
        <div class="main-content-right-side">
            <div class="section-additional-infos">
                <div class="additional-infos-header">
                    <p>Additional Details</p>
                </div>

                

                <div class="additional-info-item">
                    <ion-icon name="calendar" class="additional-info-icon"></ion-icon>
                    <div>
                        <p>Active since</p>
                        <p>September, 2021</p>
                    </div>
                </div>


                <div class="additional-info-item">
                    <ion-icon name="earth" class="additional-info-icon"></ion-icon>
                    <div>
                        <p>Languages</p>
                        <p>English, German</p>
                    </div>
                </div>

                <div class="additional-info-item">
                    <ion-icon name="chatbubbles" class="additional-info-icon"></ion-icon>
                    <div>
                        <p>Trades done</p>
                        <p>452</p>
                    </div>
                </div>



                <div class="additional-info-item">
                    <ion-icon name="map" class="additional-info-icon"></ion-icon>
                    <div>
                        <p>Location</p>
                        <p>Copenhagen, Denmark</p>
                    </div>
                </div>

                <div class="additional-info-item">
                    <ion-icon name="time" class="additional-info-icon"></ion-icon>
                    <div>
                        <p>Average response time</p>
                        <p>Less than one hour</p>
                    </div>
                </div>




            </div>

            <div class="section-additional-infos">
                <div class="additional-infos-header">
                    <p>Customer reviews</p>
                </div>
                <div class="ratings-basic-info">
                    <p>4,7</p>
                    <ion-icon name="star" class="ratings-basic-icon"></ion-icon>
                    <ion-icon name="star" class="ratings-basic-icon"></ion-icon>
                    <ion-icon name="star" class="ratings-basic-icon"></ion-icon>
                    <ion-icon name="star" class="ratings-basic-icon"></ion-icon>
                    <ion-icon name="star-half" class="ratings-basic-icon"></ion-icon>
                </div>

                <div class="ratings-progress-bar-section">
                    <div class="progress-item">
                        <p>5</p>
                        <div class="progressbar">
                            <div style="width: 55%; background-color: #76db9a;"></div>
                        </div>
                        <p>55%</p>
                    </div>

                    <div class="progress-item">
                        <p>4</p>
                        <div class="progressbar">
                            <div style="width: 16%; background-color:#b7ea83;"></div>
                        </div>
                        <p>16%</p>
                    </div>

                    <div class="progress-item">
                        <p>3</p>
                        <div class="progressbar">
                            <div style="width: 12%; background-color: #f6d757;"></div>
                        </div>
                        <p>12%</p>
                    </div>

                    <div class="progress-item">
                        <p>2</p>
                        <div class="progressbar">
                            <div style="background-color: #fab850; width: 8%;"></div>
                        </div>
                        <p>8%</p>
                    </div>

                    <div class="progress-item">
                        <p>1</p>
                        <div class="progressbar">
                            <div style="background-color: #f17a55; width:9%;"></div>
                        </div>
                        <p>9%</p>
                    </div>

                    <div class="view-all-reviews-button">
                        <p>View all reviews</p>
                    </div>
                </div>
            </div>



            <div class="map-section" id="map">

            </div>
        </div>
    </div>




</body>

</html>