<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Middleman - Settings</title>
</head>

<body>
    <div class="sidebar-settings">
        <div class="sidebar-settings-container">
            <div class="top-bar-logo-settings"></div>

            <p class="sidebar-settings-title">Benutzer</p>

            <div class="sidebar-settings-item active-settings-item" id="sidebar-item-my-account">
                <p>Mein Account</p>
            </div>

            <div class="sidebar-settings-spacer"></div>
            <p class="sidebar-settings-title">Rechnung</p>

            <div class="sidebar-settings-item" id="sidebar-item-my-subscriptions">
                <p>Abonnements</p>
            </div>

            <div class="sidebar-settings-item" id="sidebar-item-my-transactions">
                <p>Billing</p>
            </div>

            <div class="sidebar-settings-spacer"></div>

            <p class="sidebar-settings-title">Applikation</p>

            <div class="sidebar-settings-item" id="sidebar-item-my-appearance">
                <p>Appearance</p>
            </div>

            <div class="sidebar-settings-item" id="sidebar-item-my-language">
                <p>Sprache</p>
            </div>


            <div class="sidebar-settings-spacer"></div>

            <p class="sidebar-settings-title">Aktivität</p>

            <div class="sidebar-settings-item" id="sidebar-item-my-changelog">
                <p>Änderungsprotokoll</p>
            </div>

            <div class="sidebar-settings-spacer"></div>

            <div class="sidebar-settings-item" id="logout-settings-page">
                <p style="color: red">Abmelden</p>
            </div>

            <div class="sidebar-settings-spacer"></div>
            <div class="sidebar-settings-socialmedia">
                <ion-icon name="logo-twitter"></ion-icon>
                <ion-icon name="logo-facebook"></ion-icon>
                <ion-icon name="logo-instagram"></ion-icon>
            </div>
            <p class="sidebar-app-information">Version: 1.1.2</p>
            <p class="sidebar-app-information">Host: 0.0.73</p>
            <p class="sidebar-app-information">Chrome: 10.0.73</p>
        </div>
    </div>

    <div class="main-content-settings-over">
        <div class="main-content-settings">
            <div class="main-content-settings-title" id="section-title-settings">
                <p>Mein Account</p>
            </div>
            <div class="section-container-settings">
                <div class="section-my-account">
                    <div class="profile-container-settings">
                        <div class="profile-container-top-banner-settings">

                            <div class="banner-hover-container">
                                <p>Change Banner</p>
                            </div>

                            
                        </div>
                        <div class="profile-container-top-banner-infos-settings">

                            
                            <div class="profile-container-top-banner-settings-image">
                                <div>
                                    <ion-icon name="add"></ion-icon>
                                </div>
                            </div>

                            <div class="profile-container-settings-info">
                                <p>Assaf Rappaport</p>
                                <ion-icon name="ellipsis-horizontal-outline" class="username-settings-icon"></ion-icon>

                            </div>
                        </div>

                        <div class="profile-settings-information-container">
                            <div class="profile-info-item-settings">
                                <div>
                                    <p>Benutername</p>
                                    <p>Matts#3596</p>
                                </div>

                                <div>
                                    <p>Bearbeiten</p>
                                </div>
                            </div>

                            <div class="profile-info-item-settings">
                                <div>
                                    <p>E-mail</p>
                                    <p>riener.matts@mail.com</p>
                                </div>

                                <div>
                                    <p>Bearbeiten</p>
                                </div>
                            </div>

                            <div class="profile-info-item-settings">
                                <div>
                                    <p>Telefonnummer</p>
                                    <p>Du hast noch keine Telefonnummer hinzugefügt.</p>
                                </div>

                                <div>
                                    <p>Hinzufügen</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="section-settings-spacer"></div>

                    <div class="change-person-setting-section">
                        <div class="main-content-settings-title">
                            <p>Passwort ändern</p>
                        </div>
                        <p>
                            Wenn du dein Passwort ändern möchtest, kannst du dies hier
                            machen.
                        </p>

                        <div class="profile-settings-button">
                            <p>Passwort ändern</p>
                        </div>
                    </div>

                    <div class="section-settings-spacer"></div>

                    <div class="delete-or-deactive-container">
                        <p class="two-factor-title">Account löschen</p>
                        <div>
                            <div class="profile-settings-button">
                                <p>Account deaktivieren</p>
                            </div>
                            <div class="profile-settings-button">
                                <p>Account löschen</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="section-my-subscriptions">
                    <div class="subscription-banner-settings">
                        <div class="subscription-banner-title">
                            <p>Business Middleman</p>
                        </div>

                        <p>Gib deiner Professionalität ein neues Level.</p>
                        <p>
                            Werde provisionsfrei, handle ohne Obergrenze und bring dein
                            Profil auf ein neues Level.
                        </p>

                        <div class="subscription-button">
                            <p>Subscribe</p>
                        </div>
                    </div>

                    <div class="subscription-settings-features-title">
                        <p>Features</p>
                    </div>

                    <div class="subscription-item-feature-container">
                        <div class="subscription-item-feature">
                            <div class="monthly-subscriptions-button">
                                <p>Monthly</p>
                            </div>

                            <div class="subscription-feature-item-element" id="custom_status">
                                <p>Custom status</p>
                                <div class="subscription-feature-checkbox"></div>
                            </div>

                            <div class="subscription-feature-item-element" id="no_pricelimit">
                                <p>No Pricelimit</p>
                                <div class="subscription-feature-checkbox"></div>
                            </div>

                            <div class="subscription-feature-item-element" id="no_monthly_trade_limit">
                                <p>No Monthly Trade Limit</p>
                                <div class="subscription-feature-checkbox"></div>
                            </div>

                            <div class="subscription-feature-item-element" id="parallel_trading">
                                <p>Parallel Trading</p>
                                <div class="subscription-feature-checkbox"></div>
                            </div>

                            <div class="subscription-feature-item-element" id="recommended_by_platform">
                                <p>Recommended by platform</p>
                                <div class="subscription-feature-checkbox"></div>
                            </div>

                            <div class="subscription-feature-item-element" id="grab_open_offers">
                                <p>Platform to grab open offers</p>
                                <div class="subscription-feature-checkbox"></div>
                            </div>

                            <div class="subscription-feature-item-element" id="analytics_platform">
                                <p>Own anayltics platform</p>
                                <div class="subscription-feature-checkbox"></div>
                            </div>

                            <div class="choose-plan-button">
                                <p>Choose plan</p>
                            </div>
                        </div>

                        <div class="subscription-item-feature"
                            style="padding: 0vw !important; background-color: transparent">
                            <div class="subscription-packages-item selected-package" id="free-package">
                                <div class="subscription-package-check">
                                    <div class="package-checked"></div>
                                </div>

                                <div class="subscription-package-info">
                                    <p>Free</p>
                                    <div class="subscription-package-monthly-deal">
                                        <p>Free Subscription</p>
                                    </div>
                                </div>

                                <p>$0<span>/ Month</span></p>
                            </div>

                            <div class="subscription-packages-item" id="lite-package">
                                <div class="subscription-package-check">
                                    <div class="package-checked"></div>
                                </div>

                                <div class="subscription-package-info">
                                    <p>Business Lite</p>
                                    <div class="subscription-package-monthly-deal">
                                        <p>Save 10%</p>
                                    </div>
                                </div>

                                <p>$5<span>/ Month</span></p>
                            </div>

                            <div class="subscription-packages-item" id="standard-package">
                                <div class="subscription-package-check">
                                    <div class="package-checked"></div>
                                </div>

                                <div class="subscription-package-info">
                                    <p>Business</p>
                                    <div class="subscription-package-monthly-deal">
                                        <p>Save 20%</p>
                                    </div>
                                </div>

                                <p>$13<span>/ Month</span></p>
                            </div>

                            <div class="subscription-packages-item" id="pro-package">
                                <div class="subscription-package-check">
                                    <div class="package-checked"></div>
                                </div>

                                <div class="subscription-package-info">
                                    <p>Business Pro</p>
                                    <div class="subscription-package-monthly-deal">
                                        <p>Save 20%</p>
                                    </div>
                                </div>

                                <p>$25<span>/ Month</span></p>
                            </div>
                        </div>
                    </div>

                    <div class="subscription-settings-features-title">
                        <p>Frequently Asked</p>
                    </div>

                    <div class="frequently-asked-questions-container">
                        <div class="frequently-asked-question-item">
                            <div class="frequently-asked-top-container">
                                <div class="questions-mark-container">
                                    <ion-icon name="help"></ion-icon>
                                </div>
                                <p>Why is there no annual price?</p>
                            </div>

                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Tenetur vel doloribus aliquid! Adipisci eligendi provident,
                                aperiam repellat ullam earum dolorum odio laborum dicta
                                commodi iusto aspernatur blanditiis enim libero laboriosam?
                            </p>
                        </div>
                    </div>

                    <div class="frequently-asked-questions-container">
                        <div class="frequently-asked-question-item">
                            <div class="frequently-asked-top-container">
                                <div class="questions-mark-container">
                                    <ion-icon name="help"></ion-icon>
                                </div>
                                <p>Do you offer a student discount or educator discount?</p>
                            </div>

                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Tenetur vel doloribus aliquid! Adipisci eligendi provident,
                                aperiam repellat ullam earum dolorum odio laborum dicta
                                commodi iusto aspernatur blanditiis enim libero laboriosam?
                            </p>
                        </div>
                    </div>

                    <div class="frequently-asked-questions-container">
                        <div class="frequently-asked-question-item">
                            <div class="frequently-asked-top-container">
                                <div class="questions-mark-container">
                                    <ion-icon name="help"></ion-icon>
                                </div>
                                <p>Am I going to be billed automatically in the future?</p>
                            </div>

                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Tenetur vel doloribus aliquid! Adipisci eligendi provident,
                                aperiam repellat ullam earum dolorum odio laborum dicta
                                commodi iusto aspernatur blanditiis enim libero laboriosam?
                            </p>
                        </div>
                    </div>

                    <div class="frequently-asked-questions-container">
                        <div class="frequently-asked-question-item">
                            <div class="frequently-asked-top-container">
                                <div class="questions-mark-container">
                                    <ion-icon name="help"></ion-icon>
                                </div>
                                <p>Which version fits the best to me?</p>
                            </div>

                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Tenetur vel doloribus aliquid! Adipisci eligendi provident,
                                aperiam repellat ullam earum dolorum odio laborum dicta
                                commodi iusto aspernatur blanditiis enim libero laboriosam?
                            </p>
                        </div>
                    </div>

                    <div class="frequently-asked-questions-container">
                        <div class="frequently-asked-question-item">
                            <div class="frequently-asked-top-container">
                                <div class="questions-mark-container">
                                    <ion-icon name="help"></ion-icon>
                                </div>
                                <p>Is my license for more than one account?</p>
                            </div>

                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Tenetur vel doloribus aliquid! Adipisci eligendi provident,
                                aperiam repellat ullam earum dolorum odio laborum dicta
                                commodi iusto aspernatur blanditiis enim libero laboriosam?
                            </p>
                        </div>
                    </div>
                </div>

                <div class="section-my-language">
                    <div class="my-language-item" id="dk">
                        <div class="select-language-button">
                            <div></div>
                        </div>

                        <p>Dansk</p>

                        <p>Danish</p>
                        <div class="flag-image"></div>
                    </div>

                    <div class="my-language-item language-selected" id="de">
                        <div class="select-language-button">
                            <div></div>
                        </div>

                        <p>Deutsch</p>

                        <p>German</p>
                        <div class="flag-image"></div>
                    </div>

                    <div class="my-language-item" id="us">
                        <div class="select-language-button">
                            <div></div>
                        </div>

                        <p>English, US</p>

                        <p>English, US</p>
                        <div class="flag-image"></div>
                    </div>

                    <div class="my-language-item" id="gb">
                        <div class="select-language-button">
                            <div></div>
                        </div>

                        <p>English, UK</p>

                        <p>English, UK</p>
                        <div class="flag-image"></div>
                    </div>
                </div>

                <div class="section-my-transactions">
                    <div class="subscription-settings-features-title">
                        <p>Payment Methods</p>
                    </div>

                    <div class="container-add-payment-method">
                        <div class="add-payment-info">
                            <p>No payment method saved</p>
                            <p>Checkout faster by saving a payment method</p>
                        </div>
                        <div class="add-payment-button">
                            <p>Add payment Method</p>
                        </div>
                    </div>

                    <div class="subscription-settings-features-title">
                        <p>Transactions</p>
                    </div>

                    <div class="transaction-container">
                        <div class="transaction-container-header">
                            <div>
                                <p>Date</p>
                            </div>
                            <div>
                                <p>Description</p>
                            </div>
                            <div>
                                <p>Amount</p>
                            </div>
                            <ion-icon style="visibility: hidden" name="chevron-down-outline"></ion-icon>
                        </div>

                        <div class="transaction-container-body">
                            <div class="transaction-container-item">
                                <div>
                                    <p>05/12/2021</p>
                                </div>
                                <div>
                                    <ion-icon name="logo-paypal"></ion-icon>
                                    <p>Business Pro</p>
                                </div>
                                <div>
                                    <p>$24,99</p>
                                </div>
                                <ion-icon name="chevron-down-outline"></ion-icon>
                            </div>

                            <div class="transaction-container-item">
                                <div>
                                    <p>13/01/2022</p>
                                </div>
                                <div>
                                    <ion-icon name="logo-apple"></ion-icon>
                                    <p>Business Lite</p>
                                </div>
                                <div>
                                    <p>$14,99</p>
                                </div>
                                <ion-icon name="chevron-down-outline"></ion-icon>
                            </div>

                            <div class="transaction-container-item">
                                <div>
                                    <p>05/12/2021</p>
                                </div>
                                <div>
                                    <ion-icon name="logo-usd"></ion-icon>
                                    <p>Business Pro</p>
                                </div>
                                <div>
                                    <p>$24,99</p>
                                </div>
                                <ion-icon name="chevron-down-outline"></ion-icon>
                            </div>
                        </div>

                        <div class="transaction-container-bottom">
                            <div>
                                <div class="transaction-container-left">
                                    <ion-icon name="chevron-back"></ion-icon>
                                </div>
                                <div class="transaction-container-middle">
                                    <p>Page 1 of 1</p>
                                </div>

                                <div class="transaction-container-right">
                                    <ion-icon name="chevron-forward"></ion-icon>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="section-my-appearance">
                    <p class="appearance-section-subtitle">
                        Theme
                    </p>

                    <div class="appearance-section-theme-item theme-selected">
                        <div class="appearance-section-select">
                            <div></div>
                        </div>

                        <p>Dark</p>
                    </div>

                    <div class="appearance-section-theme-item">
                        <div class="appearance-section-select">
                            <div></div>
                        </div>

                        <p>Light</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="escape-button-settings">
            <div class="escape-button-settings-circle" id="escape-button-settings">
                <ion-icon name="close-outline"></ion-icon>
            </div>
        </div>
    </div>
</body>

</html>