<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Middleman - Settings</title>





</head>

<body>

    <div class="sidebar-settings">
        <div class="sidebar-settings-container">

            <div class="top-bar-logo-settings">

            </div>

            <p class="sidebar-settings-title">
                Benutzereinstellungen
            </p>

            <div class="sidebar-settings-item active-settings-item">
                <p>Mein Account</p>
            </div>
            <div class="sidebar-settings-item">
                <p>Nutzerprofil</p>
            </div>
            <div class="sidebar-settings-item">
                <p>Privatsphäre & Sicherheit</p>
            </div>
            <div class="sidebar-settings-item">
                <p>Autorisierte Apps</p>
            </div>
            <div class="sidebar-settings-item">
                <p>Verknüpfungen</p>
            </div>

            <div class="sidebar-settings-spacer"></div>

            <p class="sidebar-settings-title">
                Rechungseinstellungen
            </p>

            <div class="sidebar-settings-item">
                <p>Discord Nitro</p>
            </div>
            <div class="sidebar-settings-item">
                <p>Server-Boost</p>
            </div>
            <div class="sidebar-settings-item">
                <p>Abonnements</p>
            </div>
            <div class="sidebar-settings-item">
                <p>Geschenkinventar</p>
            </div>
            <div class="sidebar-settings-item">
                <p>Zahlungsabwicklung</p>
            </div>

            <div class="sidebar-settings-spacer"></div>

            <div class="sidebar-settings-item" id="logout-settings-page">
                <p style="color: red">Abmelden</p>
            </div>


            <div class="sidebar-settings-spacer"></div>
            <div class="sidebar-settings-socialmedia">
                <ion-icon name="logo-twitter"></ion-icon>
                <ion-icon name="logo-facebook"></ion-icon>
                <ion-icon name="logo-instagram"></ion-icon>
            </div>
            <p class="sidebar-app-information">Version: 1.1.2</p>
            <p class="sidebar-app-information">Host: 0.0.73</p>
            <p class="sidebar-app-information">Chrome: 10.0.73</p>




        </div>
    </div>

    <div class="main-content-settings-over">
        <div class="main-content-settings">
            <div class="main-content-settings-title" id="section-title-settings">
                <p>Mein Account</p>
            </div>

            <div class="section-mein-account">
                <div class="profile-container-settings">
                    <div class="profile-container-top-banner-settings">
                        <div class="profile-container-top-banner-settings-image"></div>
                    </div>
                    <div class="profile-container-top-banner-infos-settings">
                        <div class="profile-container-settings-info">
                            <p>Assaf Rappaport</p>
                            <ion-icon name="ellipsis-horizontal-outline" class="username-settings-icon"></ion-icon>
                            <div class="profile-container-settings-info-edit">
                                <p>Edit Profile</p>
                            </div>
                        </div>


                    </div>

                    <div class="profile-settings-information-container">
                        <div class="profile-info-item-settings">
                            <div>
                                <p>Benutername</p>
                                <p>Matts#3596</p>
                            </div>

                            <div>
                                <p>Bearbeiten</p>
                            </div>
                        </div>

                        <div class="profile-info-item-settings">
                            <div>
                                <p>E-mail</p>
                                <p>riener.matts@mail.com</p>
                            </div>

                            <div>
                                <p>Bearbeiten</p>
                            </div>
                        </div>

                        <div class="profile-info-item-settings">
                            <div>
                                <p>Telefonnummer</p>
                                <p>Du hast noch keine Telefonnummer hinzugefügt.</p>
                            </div>

                            <div>
                                <p>Hinzufügen</p>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="section-settings-spacer"></div>


                <div class="change-person-setting-section">
                    <div class="main-content-settings-title">
                        <p>Passwort ändern</p>
                    </div>
                    <p>Wenn du dein Passwort ändern möchtest, kannst du dies hier machen.</p>

                    <div class="profile-settings-button">
                        <p>Passwort ändern</p>
                    </div>
                </div>


                <div class="section-settings-spacer"></div>

                <div class="delete-or-deactive-container">
                    <p class="two-factor-title">Account löschen</p>
                    <div>

                        <div class="profile-settings-button">
                            <p>Account deaktivieren</p>
                        </div>
                        <div class="profile-settings-button">
                            <p>Account löschen</p>
                        </div>

                    </div>


                </div>

            </div>
        </div>
        <div class="escape-button-settings">
            <div class="escape-button-settings-circle" id="escape-button-settings">
                <ion-icon name="close-outline"></ion-icon>
            </div>
        </div>
    </div>



</body>

</html>