* {
    font-family: 'Poppins', sans-serif;
}


body {
    margin: 0 !important;
    padding: 0vh 15vw !important;
    background: white;

    display: flex;
    flex-direction: column;

}

p {
    margin: 0 !important;
    padding: 0 !important;
}

.top-bar {
    width: 100%;
    height: 8vh;

    display: flex;
    align-items: center;
}

.top-bar-item {
    margin: 0 .8vw;
}

#top-bar-right-section {
    margin-left: auto !important;

    display: flex;
    align-items: center;
}

.top-bar-icon {
    margin: 0 .4vw;
    font-weight: bold;
    font-size: 1.3rem;
}

.become-middleman-button {
    display: flex;
    align-items: center;
    background: #383838;
    border-radius: 5px;

    padding: 0.4vw;

    margin: 0 2vw;

    font-size: .9rem;
    color: white;

}

#top-bar-profile-picture {
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    background-image: url("https://www.alucoildesign.com/assets/pages/media/profile/profile_user.jpg");
    background-size: cover;
    background-position: center;
    border: 1px solid #383838;
}


.main-container-profile-banner {
    width: 100%;
    height: auto;
    margin-top: 3vh;

}


.banner-container {
    width: 100%;
    height: 40vh;
    background-image: url("https://wallpaperaccess.com/full/14259.jpg");
    background-size: cover;
    background-position: center;

    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

    display: flex;
    flex-direction: column-reverse;
    position: relative;
}

.change-banner-image-button {
    display: flex;
    background: white;
    color: #383838;
    align-items: center;



    position: absolute;
    right: 2vw;
    bottom: 1vw;


    padding: .2vw .5vw;

    border-radius: 4px;

    font-weight: 500;

    cursor: pointer;
}



.profile-image-banner-section {
    height: 11vw;
    width: 11vw;

    border-radius: 50%;

    background-image: url("https://www.alucoildesign.com/assets/pages/media/profile/profile_user.jpg");
    background-size: cover;
    background-position: center;

    margin-left: 3vw;
    transform: translateY(50%);
    border: 5px solid white;
}

.basic-information-container {
    width: 100%;
    height: 25vh;
    background: white;
    border: 1px solid #dadada;


    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-sizing: border-box; 


    display: flex;
    flex-direction: row-reverse;
}


.basic-info-right-side {
    width: 53vw;
    background: red;
    height: 100%;
}


.section-group-sections {
    height: 6vh;
    background: #f8f7fc;

    margin: 2vh 0vh;

    border-radius: 10px;

    display: flex;
    flex-direction: row;
    padding: 6px;

    box-sizing: border-box; 

}

.section-group-item {
    width: 11%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #bbbdcb;
    border-radius: 10px;
    margin-right: 6px;
}

.active {
    background: white;
    color: black;
}

.main-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-content-left-side {
    width: 69%;
}

.main-content-right-side {
    width: 29%;
    background: red;
}